@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

#app {
  font-family: Questrial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: var(--primary-text);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Kanit;
  font-weight: 500;
}
